
/* ==========================================================================
   Author's custom styles
   ========================================================================== */



.btn-disabled {
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #5C5C5B;
    *background-color: #5C5C5B;
    background-image: -moz-linear-gradient(top, #8F8F8F, #5C5C5B);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8F8F8F), to(#5C5C5B));
    background-image: -webkit-linear-gradient(top, #8F8F8F, #5C5C5B);
    background-image: -o-linear-gradient(top, #8F8F8F, #5C5C5B);
    background-image: linear-gradient(to bottom, #8F8F8F, #5C5C5B);
    background-repeat: repeat-x;
    border-color: #5C5C5B;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8F8F8F', endColorstr='#5C5C5B', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-disabled:hover,
.btn-disabled:active,
.btn-disabled.active,
.btn-disabled.disabled,
.btn-disabled[disabled] {
    color: #FFFFFF;
    background-color: #5C5C5B;
    *background-color: #003bb3;
}

.modal-dialog {
    width: auto;
    margin: 0 2% 0 2%;
    padding-left: 0;
    padding-right: 0;
}

.codeview {
    overflow-y: auto;
    max-height: 400px;
    font-family: "Inconsolata",monospace !important; 
}

.codeview .row
{
    margin-left: 1%;
}

.assignment-grid {
    width: auto;
    margin: 0 2% 0 2%;
    padding-left: 0;
    padding-right: 0;
    max-heigth: 800px;
    height: 90%;
    white-space: nowrap;
}

body
{
    width: 100%;
    padding-top: 30px /* because of fixed header */;
}

.scroll {
    overflow: auto;
    /*overflow-x: auto;
    overflow-y: auto;*/
}

.no-wrap {
	/*Note that nowrap affects the contents/elements inside of the tag it is
	set on, not the tag itself.*/
	white-space: nowrap;
}

.wrap {
    white-space: normal;
}

.break-word {
    word-wrap: break-word;
}
.luminous table .line-numbers {
	word-break:break-none !important;
	word-wrap: break-none !important;
	white-space:pre !important;
}
.luminous table .code
{
	word-break:break-none !important;
	word-wrap:break-none !important;
	white-space:pre !important;
}
